<div class="card" style="width: 18rem;margin-top:2rem">
  <img class="card-img-top" style="width: 18rem;height: 14rem;" src= {{elemento.thumbnail}}   alt= {{elemento.title}}>
  <div class="card-body">
    <h5 class="card-title">{{elemento.title}}</h5>
    <p class="card-text">{{elemento.description}}</p>
    <a class="btn btn-primary" href="/carrito/productos/{{this._id}}">agregar</a>
  </div>
</div>
   